    /* .table>tbody>tr>* {
        vertical-align: middle;
    }

    .table>thead {
        text-align: center;
    }

    .gambar {
        width: 90px;
    } */

    a.btn.disabled {
        cursor: not-allowed !important;
    }