/* .table>tbody>tr>* {
    vertical-align: middle;
}

.table>thead {
    text-align: center;
}

.gambar {
    width: 90px;
} */

a.btn.disabled {
    cursor: not-allowed !important;
}

/* .nav-item.menu-open.pl-3 > a {
    max-width: 100%;
} */
    
.nav.nav-treeview.pl-3 a {
    max-width: 100%;
}

.input-feedback.success {
    color: #28a745;
}

.input-feedback.error {
    color: #dc3545;
}

.dt-custom-filter .label {
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 576px) { 
    .dt-custom-filter .label {
        justify-content: flex-start;
    }
 }